
body  {
  color: black;
  font-family: "Karla";
}

p {
  font-size: 1.2em;
}

.body-text {
  font-family: Karla;
  font-weight: normal;
  font-size: 1.3em;
}

.nav-text-right {
  font-size: 1em;
}

.nav-text-right:hover {
  font-size: 1em;
  font-weight: 600;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:hover 
{
  cursor:pointer;  
  color: black;
}

.h3-head-right {
  font-family: "Karla";
  font-weight: 600;
}

.header-text {
  font-family: "Rubik";
  font-size: 4.4em;
  font-weight: 700;

}

.title-text {
  font-family: "Rubik";
  font-size: 2.8em;
  font-weight: 900;
  line-height: 1.5em;
} 

.title-subtext {
  font-family: "karla";
  font-size: 2.1em;
  line-height: 1.5em;
}

.graphic-img {
  background-image: url(../graphics-portfolio/test.png);
  z-index: 1;
}

.subhead-highlight {
  color: black;
}

.header-subtext {
  color: #444444;
  font-weight: 400;
  font-size: 1.9em;
}

.header-caps-bold {
  font-weight: bold;
  font-family: Rubik;
  text-transform: uppercase;
  font-size: 1.5em;
}

.section-one {
  margin-bottom: 5em;
}

.project-descriptors {
  font-family: "Rubik";
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
}

.project-spacing {
  padding-top: 6em;
  padding-bottom: 2em;
}

.separator-portfolio {
  border-bottom: 1px solid black;
}

.separator-portfolio-about {
  border-bottom: 1px solid black;
}

.btn-override {
  border: 1px solid black;
  border-radius: 0;
  color: black;
}

.btn-override:hover {
  border: 1px solid black;
  border-radius: 0;
  color: white;
  background-color: black;
}

.fa-arrow-right {
  font-size: 1.2em;
  padding-left: 12px;
}

.p-list-spacing {
  margin-bottom: 0;
}

.img-caption {
  font-family: karla;
  font-size: 1em;
  color: #7b7b7b;
  justify-content: center;
  margin-top: .5em;
}

.a-caption {
  color: #7b7b7b;
}

.home-footer {
  margin: 5em 0 5em 0;
}

.home-footer-text {
  font-size: 1.1rem;
}

.home-footer-text:hover {
  text-decoration: none;
  font-weight: bold;
}

.quote {
  font-family: rubik;
  font-weight: 700;
}

scroll-container {
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: block;
  text-align: center;
  height: 500px;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
}


.btn-list {
  margin: 5px;
}

#file-manager-prototype {
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
}

.lowercase-subhead {
  font-size: 1.5em;
  font-weight: bold;
}

.iteration-highlight {
  background-color: aliceblue;
  padding-top: 6em;
  padding-bottom: 6em;
}

.iteration-separator {
  padding-top: 6em; 
  padding-bottom: 6em;
}

.img-center-features {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.btn-add-server {
  width: 12em;
  height: 3em;
  color: #0047FF;
  font-size: 2em;
  font-family: Karla;
  font-weight: 700;
  border-radius: 2pc;
  border-color: #0047FF;
  border-width: 4px;
}

.btn-add-server:hover {
  width: 12em;
  height: 3em;
  color: white;
  font-size: 2em;
  font-family: Karla;
  font-weight: 700;
  border-radius: 2pc;
  border-color: #0047FF;
  border-width: 4px;
  background-color: #0047FF;
}

.btn-edition-select {
  padding-left: 3em;
  padding-right: 3em;
  color: #000000;
  font-size: 2em;
  font-family: Karla;
  font-weight: 700;
  border-radius: 15px;
  border-color: white;
  background-color: white;
  border-width: 3px;
}

.btn-edition-select:hover {
  color: #0047FF;
  background-color: #EBF0FF;
  border-color: #0047FF;
  border-width: 3px;
}


.separator-footer {
  border-top: 1px solid black;
}

.article-link {
  color: rgb(197, 154, 99);
}
.article-link:hover {
  color: #000000;
}

.article-separator {
  margin-bottom: 2em;
}

/* DEMO CARDS */
/* DEMO GENERAL */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}


/* DEMO 1 */
.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
  color: white;
}

.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {
  opacity: 0;
}